.env
composer.lock

metadatos/*
fichas/*
planes_mejora/*
!planes_mejora/.keep

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

*~
*.swp
*.swo
